.main-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  background-color: #F5F5F5;
}

.main-container::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.main-container::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--details);
  /* border-radius: 10px; */
  background-color: #3f3a3a;
}

.main-container::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

.main-container::-webkit-scrollbar-thumb {
   border-radius: 2px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
   background-color: #B3B3B3;
}

.main-container {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  overflow-x: hidden;
  /* Bloqueia o scroll horizontal */
  overflow-y: auto;
  /* Permite o scroll vertical */
  padding-bottom: 80px;
}


.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 14px 30px;
  position: fixed;
  /* margin-left: 160px; */
  right: 0;
  width: 100%;
}

.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  /* background-color: #090909; */
  margin-right: 10px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}

.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 15px;
}

.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}

.playlists {
  padding: 20px 40px;
}

.playlists .playlist-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlists .playlist-title .playlist-buttons{
  display: flex;
  gap: 10px;
}

.playlists .playlist-title .playlist-buttons .button-right, .button-left{
  justify-content: center;
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, .2);
  width: 16px;
  height: 16px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}

.playlists .playlist-title .playlist-buttons .button-right:hover, .button-left:hover{
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.295);
}


.playlists .playlist-title .playlist-buttons .button-right:active, .button-left:active{
  background-color: rgba(255, 255, 255, 0.1);
}

.playlists h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}

.playlists .list {
  display: flex;
  gap: 20px;
  /*overflow: hidden;*/
  overflow-x: auto;
  scrollbar-color: #0c0c0c00 transparent;
  scroll-behavior: smooth;
}

.playlists .list:hover {
  overflow-x: auto;
  scrollbar-color: #606060 transparent;
}

.playlists .list .item {
  min-width: 140px;
  width: 220px;
  max-width: 220px;
  padding: 15px;
  min-width: 220px;
  min-height: 220px;
  /* max-height: 220px; */
  /* background-color: var(--black); */
  border-radius: 6px;
  /* cursor: pointer; */
  transition: all ease 0.4s;
}

.playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 4px;
  max-width: 220px;
  min-height: 220px;
  max-height: 220px;
  min-width: 220px;
}

.playlists .list .item .play {
  position: relative;
  box-shadow: 10px;
  box-shadow: 10px 5px 5px red;
}

.playlists .list .item .play .fa {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 13px;
  top: -60px;
  padding: 18px;
  background-color: #0b5883;
  border-radius: 60px;
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: all ease 0.4s;
  cursor: pointer;
  max-height: 48px;
  box-shadow: 0px 5px 5px #0000004f;
}

.playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-11px);
}

.playlists .list .item h4 {}

.playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.playlists .list .item .song-title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlists .list .item .autor-name {
  font-size: 15px;
  color: #878282;
}

.playlists .list-liked {
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
  overflow-x: auto;
  scrollbar-color: #0c0c0c00 transparent;
  scroll-behavior: smooth;
}

.playlists .list-liked:hover {
  overflow-x: auto;
  scrollbar-color: #606060 transparent;
}

.playlists .list-liked .item {
  min-width: 140px;
  width: 220px;
  max-width: 220px;
  padding: 15px;
  min-width: 220px;
  min-height: 220px;
  /* max-height: 220px; */
  /* background-color: var(--black); */
  border-radius: 6px;
  /* cursor: pointer; */
  transition: all ease 0.4s;
}

.playlists .list-liked .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 4px;
  max-width: 220px;
  min-height: 220px;
  max-height: 220px;
  min-width: 220px;
}

.playlists .list-liked .item .play {
  position: relative;
  box-shadow: 10px;
  /* box-shadow: 10px 5px 5px red; */
}

.playlists .list-liked .item .play .fa {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 13px;
  top: -60px;
  padding: 18px;
  background-color: #0b5883;
  border-radius: 60px;
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: all ease 0.4s;
  cursor: pointer;
  max-height: 48px;
  box-shadow: 0px 5px 5px #0000004f;
}

.playlists .list-liked .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-11px);
}

.playlists .list-liked .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.playlists .list-liked .item .song-title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlists .list-liked .item .autor-name {
  font-size: 15px;
  color: #878282;
}

.playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}



.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.preview p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.preview button {
  background-color: #ffffff;
  color: var(--black);
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

.body-principal {
  width: 100%;
  height: 100%;
  display: flex;
}
